.dms {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 91px;
    width: 288px;
    background-color: #2f3136;

    .dm-link {
        display: inline;
        color: #888a91;
        text-decoration: none;
        align-self: center;

    }
    .dm-messages-name {
        height: 50px;
        border-bottom: 1px #232527 solid;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

        
        div {
            font-size: 30px;
            position: absolute;
            top: 10px;
            left: 20px;
            color: white;

        }


    }

    .direct-message-text {
        position: absolute;
        top: 70px;
        font-size: 12px;
        left: 25px;
        color: #838982;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    }

    .dm-channels-ul {
        position: absolute;
        top: 100px;
        left: 13px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

        li{
            width: 89%;
            display: flex;
            gap: 14px;
            align-items: center;
            height: 50px;
            padding-left: 10px;
        }

        li:hover {
         
            background-color: #34373c;
            border-radius: 7px;
        
        }

    }

    .dm-logo {
        height: 28px;
        width: 28px;
    }

}

.dm-user-name{
    border-bottom: 1px solid #232527;
    width: 115%;
    margin-left: -11px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 20px;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
}
.dm-messages-ul{
    width: 113%;
    height: 85%;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 80px;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dm-messages-li:hover {
    width: 96%;
    border-radius: 15px;
    background: #32353b;
}
.dm-messages-li {
    width: 100%;
    display: flex;
    gap: 15px;
    font-size: 21px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;


    color: #cccccc;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dm-message-logo {
    height: 35px;
    width: 35px;
}

.direct-message-input{
    width: 112%;
    height: 37px;
    bottom: 20px;
    position: absolute;
    border-radius: 10px;
    background: #40444b;
    color: white;
    border: none;
    text-indent: 10px;
}

.dm-info {
    display: flex;
    align-items: baseline;
    padding-bottom: 9px;

    .dm-name {
        font-weight: bolder;
        font-size: 1rem;
        padding-right: 10px;
        width: auto;
    }
    .dm-message-time {
        color: #6c707b;
        font-size: 0.75rem;
    }

}

.dm-messages-body {
    font-size: 1rem;
}

.dm-plus {
    position: absolute;
    top: 63px;
    left: 250px;
    font-size: 22px;
    font-weight: bolder;
    color: #a8a9ad;
    cursor: pointer;
    width: auto;
}
.dm-close-button {
    width: auto;
    height: auto;
    position: absolute;
    top: 17px;
    right: 17px;
    align-self: center;
    font-size: 40px;
    cursor: pointer;
    font-weight: bolder;
}

.dm-content{ 
    position: absolute; 
    top: 65px;
    left: 69px;
    letter-spacing: 2px;
    width: 97%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777c84;
}

.dm-dropdown {
    position: absolute;
    left: 87px;
    top: 122px;
    font-size: 19px;
    height: 35px;
    width: 188px;
    text-indent: 5px;
    border: 1px solid gray;
    color: white;
    background-color: #383c3c;
}


.dm-modal-main {
    position:fixed;
    background: #383c3c;
    width: 400px;
    height: 200px;
    border-radius: 17px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.dm-button {
    position: absolute;
    top: 122px;
    right: 47px;
    font-size: 18px;
    height: 36px;
    width: 65px;
    background-color: #5865f2;
    border: none;
    border-radius: 10px;
}

.dm-label {
    position: absolute;
    top: 20px;
    left: 93px;
    white-space: nowrap;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: white;
}

.dm-channels {
    display: flex;
    gap: 10px;
}

.error {   
    position: absolute;
    top: 90px;
    left: 116px;
    color: #F5353C;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}