.dms {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 91px;
    width: 288px;
    background-color: #2f3136;

    .dm-link {
        display: inline;
        color: #888a91;
        text-decoration: none;
    }
    .dm-messages-name {
        height: 50px;
        border-bottom: 1px #232527 solid;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

        
        div {
            font-size: 30px;
            position: absolute;
            top: 10px;
            left: 20px;
            color: white;

        }


    }

    .direct-message-text {
        position: absolute;
        top: 70px;
        left: 13px;
        color: #838982;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    }

    .dm-channels-ul {
        position: absolute;
        top: 100px;
        left: 13px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

        li{
            width: 89%;
            display: flex;
            gap: 14px;
            align-items: center;
            height: 50px;
            padding-left: 10px;
        }

        li:hover {
         
            background-color: #34373c;
            border-radius: 7px;
        
        }

    }

    .dm-logo {
        height: 30px;
        width: 30px;
    }

}

.dm-messages-ul{
    width: 113%;
    height: 92%;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 80px;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dm-messages-li:hover {
    width: 96%;
    border-radius: 15px;
    background: #32353b;
}
.dm-messages-li {
    width: 100%;
    display: flex;
    gap: 15px;
    font-size: 21px;
    padding-top: 16px;
    padding-bottom: 16px;
    // padding-right: 10px; 
    padding-left: 10px;


    color: #cccccc;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dm-message-logo {
    height: 35px;
    width: 35px;
}

.direct-message-input{
    width: 112%;
    height: 37px;
    bottom: 20px;
    position: absolute;
    border-radius: 10px;
    background: #40444b;
    color: white;
    border: none;
    text-indent: 10px;
}

.dm-info {
    display: flex;
    align-items: baseline;
    padding-bottom: 9px;

    .dm-name {
        padding-right: 10px;
        width: auto;
    }
    .dm-message-time {
        color: #6c707b;
        font-size: 0.75rem;
    }

}