.messages {
    position: absolute;
    font-size: 44px;
    top: 0;
    bottom: 0;
    left: 390px;
    right: 220px;
}

#message-input-button {
    display: none;
}

.message-input {
    width: 99%;
    height: 37px;
    bottom: 20px;
    position: absolute;
    border-radius: 10px;
    background: #40444b;
    color: white;
    border: none;
    text-indent: 10px;
}

*:focus{
    outline: none;
}

.message-ul {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 80px;
    left: 0;
    // padding-left: 5px;
    width: 100%;
    height: 87%;
    overflow-y: scroll;
    overflow-x: hidden;
    
    // padding-left: 40px;

    li {
        font-size: 21px;
        padding-top: 16px;
        padding-bottom: 16px;
        // padding-right: 10px; 
        padding-left: 10px;


        color: #cccccc;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        
        .message-content{
            color: #bbbbbf;
        }
    }
    li:hover {
        border-radius: 15px;
        background: #32353b;
    }
}


.message-ul::-webkit-scrollbar{
    overflow-y: hidden;
}
.message-info {
    display: flex;
    align-items: baseline;
    padding-bottom: 9px;

    .message-name {
        padding-right: 10px;
        width: auto;
    }
    .message-time {
        color: #6c707b;
        font-size: 0.75rem;
    }

}

.message-channel-header {
    display: flex;
    position: fixed;
    width: 100%;
    left: 377px;
    top: 12px;
    gap: 16px;
    border-bottom: 1px #232527 solid;
    // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "Mukta", sans-serif;
    font-size: 27px;
    color: white;
    padding-bottom: 13px;



    .message-hashtag {
        width: auto;
        padding-left: 21px;
        color: #72767d;
    }

    .message-channel-name {
        font-size: 21px;
        align-self: center;
    }
}


.members {
    position: fixed;
    left: 90%;
    background-color: #2f3136;
    top: 51px;
    height: 100%;

    .members-header {
        font-size: 30px;
        padding-left: 15px;
        padding-top: 21px;
        padding-bottom: 10px;
        border-bottom: 1px solid #232527;
    }

    .members-ul {
        padding-left: 15px;
        padding-top: 5px;

        li {
            display: flex;
            align-items: center;
            padding-top: 21px;
            font-size: 20px;
            gap: 10px;

        }
    }

    .members-logo{
        height: 30px;
        width: 30px;
    }
}


.chat {
    display: flex;
    gap: 15px;

    img {
        height: 35px;
        width: 35px;
    }
}