#channels-index {
    margin-left: 90px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 288px;
    background-color: #2f3136;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #888a91;

    #server-name {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px #232527 solid;

        
        #server-dropdown {
            width: 50px;
            // left: 312px;
            text-align: center;
            align-self: center;
            position: relative;
            cursor: pointer;
            
            
            #dropdown-list {
                width: 256px;
                height: 40px;
                border-radius: 9px;
                position: absolute;
                background-color: #18191c;
                transform: translate(-227px, 18px);
                align-items: center;
                padding: 5px;
                
                
                li {
                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                    
                    // padding-left: 5px;
                    text-align: center;
                }
                
                
                i {
                    text-align: right;
                    margin-right: 11px;
                }
            }
            
            #dropdown-list:hover {
                background-color: #8c93e8;
                color: white;
                cursor: pointer;
            }
            
        }
    }

    .channel-link {
        display: inline;
        color: #888a91;
        text-decoration: none;

        .channel-name, .hashtag {
            display: inline;
            float: left;
            width: 75%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1rem;
            text-transform: lowercase;
        }

        .hashtag {
            width: 10%;
            font-weight: bold;
        }
    }
    
    #channel-header {
        display: flex;
        
        
        #text-channel {
            padding-left: 28px;
            font-size: 12px;
            white-space: nowrap;
            font-weight: bold;
            padding-top: 6px;
            padding-right: 72px;
        }

        #plus {
            font-size: 30px;
            cursor: pointer;
            padding-left: 53px;
        }

    }

    .channel-server-name{ 
        color: #f2fcff;
        font-size: 1rem;
        text-align: left;
        padding-left: 28px;
        padding-top: 16px;
        padding-bottom: 20px;
        width: 248px;
        white-space: nowrap;
        height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    #channels-list {
        padding-left: 20px;

        .channel-li {
            padding-top: 10px;
            padding-left: 10px;
            width: 248px;
        }
    }

    
}


.channel-li:hover {
    background-color: #34373c;
    border-radius: 7px;

}

.channel-li > div > a > .channel-cog {
    color: #2f3136;
}
.channel-li:hover > div > a > .channel-cog{
    color: white;
}

.channel-li > div > a > .no-channel-cog {
    color: #2f3136;
}

.channel-li:hover > div > a > .no-channel-cog{
    color: #34373c;
}
.channel-modal {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);

        .channel-modal-main, .channel-modal-join {

            position:fixed;
            background: #383c3c;
            width: 501px;
            height: 270px;
            border-radius: 17px;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        .channel-label {
            margin-left: 160px;
            white-space: nowrap;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
        }

        p {
            letter-spacing: 2px;
            width: 97%;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            color: white;
            margin-top: 30px;
            margin-left: 33px
        }

        #channel-input {
            width: 88%;
            height: 12%;
            background-color: #303339;
            margin-right: 10px;
            color: white;
            margin-top: 20px;
            margin-bottom: 25px;
            border: 1px solid #222428;
            margin-left: 33px;
            padding-left: 5px;
            text-indent: 15px;
        }



        .channel-header {
            display: flex;
        }

        .close-button{
            margin-left: 100px;
            font-size: 36px;
            padding-top: 13px;
            cursor: pointer;
            margin-top: 7px;
    
        }
    
        .create-button {
            margin-left: 200px;
        }
        

        
}

.input-hashtag {
    width: 10px;
    transform: translate(40px, 46px);
}
.showSettings {
    display: flex;
    
}

.grid {
    display: grid;
}

#server-settings {
    z-index: 1;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2f3136;
    // display: grid;
    grid-template-columns:  35% 65%;

    #left-container {
        display: flex;
        flex-direction: column;
        width: 35vw;
        transform: translate(73%, 50px);
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;


        li, #server-settings-name {
            padding: 10px;
            width: 23%;
        }

        

        li:hover {
            background-color: #34373c;
            border-radius: 5px;
        }

        ul li:last-child {
            color: red;

        }
        ul li:last-child:hover {
            background-color: red;
            color: black;
        }
        
        #server-settings-name {
            font-weight: bold;
            padding-bottom: 10px;
            font-size: 15px;
        }

    }

    #right-container {
        background-color: #36393f;

        #server-settings-form {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 52px;
            padding-left: 35px;
            width: 240px;
            

            div {
                display: flex;
                justify-content: space-between; 
                align-items: center;

                label {
                    font-size: 20px;
                    color: white;
                }

            }

            input {
                text-indent: 10px;
                border-radius: 5px;
                height: 40px;
                border: none;
                width: 320px;
                margin: 10px 0px;
                background-color: #303339;
                border-radius: 1px solid #222428;
                color: white;
            }

            #change-button {
                border-radius: 5px;
                height: 30px;
                width: 327px;
                background-color: #5865f2;


            }

        }

        .server-close-button {
            padding-left: 14px;
            border-radius: 50%;
            font-size: 29px;
            width: 40px;
            height: 45px;
            transform: translate(300px, 10px);
            background-color: transparent;
            border: 1px solid #72767d;
        }

        .server-close-button:hover {
            background-color: #484c52;
            cursor: pointer;
            
        }


        
    }
}

#logo {
    height: 40px;
    width: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

#channel-footer {
    display: flex;
    position: fixed;
    bottom: 0px;
    background-color: #292b2f;
    height: 50px;
    padding-top: 10px;

    #username {
        font-size: 20px;
        color: white;
        font-weight: bold;
        padding-top: 10px;
    }
}

.channel-cog{
    transform: translate(201px, -17px);
    padding-left: 23px;
}

.hide-cog {
    display: none;
}

.show-cog {
    display: block;
}

.channel-modal-edit {
    position:fixed;
    background: white;
    border-radius: 17px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 209px;
}

.edit-header {
    display: flex;

    .edit-label {
        margin-left: 86px;
        white-space: nowrap;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        padding-top: 15px;
        margin-top: 10px;
    }

    .edit-close-button {
        font-size: 36px;
        padding-top: 16px;
        cursor: pointer;
        margin-top: 7px;
        margin-right: 25px;
        text-align: end;
    }

    
}
.edit-input{
    
    width: 88%;
    height: 10%;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 23px;
    padding-left: 5px;
    border: 1px solid black;
}

.edit-button {
    position: fixed;
    left: 240px;
    cursor: pointer;

}

.delete-button {
    position: fixed;
    right: 52%;
    top: 128px;
    height: 35px;
    background-color: red;
    border: 1px solid red;
    color: white;   
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 10px;
    cursor: pointer;
}

.show-channel-enter, .show-settings-enter, .show-edit-enter {
    opacity: 0;
    transform: scale(.1);
}

.show-channel-enter-active, .show-settings-enter-active, .show-edit-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 500ms;

}

.show-channel-exit, .show-settings-exit, .show-edit-exit {
    opacity: 1;
}

.show-channel-exit-active, .show-settings-exit-active, .show-edit-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}


.confirm-modal {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    .confirm-modal-main {
        position: absolute;
        top: 35%;
        left: 37%;
        background: #36393f;
        width: 435px;
        height: 293px;
        border-radius: 7px;     

        form {
            display: flex;
            align-items: end;
            flex-direction: column;

            .confirm-delete{
                width: auto;
                align-self: start;
                padding: 16px 0px 0px 15px;
                font-size: 20px;
                color: white;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                font-weight: bolder;
            }

            .confirm-message{
                background: #faa81a;
                color: white;
                border-radius: 5px;
                padding: 13px 30px 10px 10px;
                margin-top: 17px;
                width: 84%;
                align-self: center;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                line-height: 20px;
                word-spacing: 2px;
            }
             span {
                 font-weight: bold;
             }

             label {
                width: auto;
                align-self: start;
                padding: 22px 0px 10px 15px;
                font-size: 12px;
                font-weight: 800;
                color: #9a9da1;
             }

             input {
                align-self: start;
                width: 400px;
                height: 33px;
                margin-left: 15px;
                border: 1px solid #222428;
                background: #303339;
                border-radius: 4px;
                color: white;
                text-indent: 5px;
             }

            
        }
    }
} 

.confirm-cancel {
    width: auto;
    position: absolute;
    right: 155px;
    top: 245px;
    color: white;
    font-size: 13px;
}

.confirm-cancel:hover {
    text-decoration: underline;
}

.confirm-button{
    background: #ed4245;
    border: none;
    height: 39px;
    width: 107px;
    border-radius: 4px;
    color: white;
    position: absolute;
    top: 233px;
    right: 14px;
}

.confirm-error {
    color: #ed4245;
    font-size: 12px;
    position: absolute;
    top: 211px;
    left: 15px;
}