main {

    background-image: image-url("clouds.svg");
    background-color: #404eed;
    background-size: 100%;
    height: 628px;
}


.splash-nav {
    display: flex;
    margin-right: 356px;
    margin-left: 366px;
    padding-top: 20px;
    justify-content: space-between;
}

.splash-nav-links {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

#github-logo {
    color: black;
    font-size: 50px;
}

.splash-nav-logo {
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    color: white;

}


#cartoon-left {
    transform: translate(-44px, 124px);
}

#cartoon-right {
    transform: translate(625px, 124px);
}




.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
}

#headline-title {
    transform: translate(30px, 119px);
    font-size: 78px;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

#headline-content


.splash-login {
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    color: #404eed;
    width: 65px;
    height: 35px;
}


